@model IEnumerable<Student>;

<h1>Student List</h1>
<hr />

<table class="table table-dark">

    <tr>
        <th colspan="9">Student</th>
    </tr>

    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Course</td>
        <td>Admission Date</td>
        <td>Email</td>
        <td>GPA</td>
        <td>Details</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Course</td>
            <td>@student.AdmissionDate</td>
            <td>@student.Email</td>
            <td>@student.GPA</td>
            <td><a asp-action="ShowDetail" asp-route-id="@student.Id" class="btn btn-primary">Show Details</a></td>
            <td><a asp-action="UpdateStudent" asp-route-id="@student.Id" class="btn btn-info">Update</a></td>
            <td><a asp-action="DeleteStudent" asp-route-id="@student.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>


    <form>
        <button asp-action="AddStudent">Add Student</button>
    </form>




